.fancybox-bg {
  background: rgba($color-1, 1) !important;
}

.fancybox-is-open .fancybox-bg {
  opacity: 0.8 !important;
}

.fancybox-content {
  width: 100%;
  max-width: 100%;
  max-height: 100vh;
  z-index: 1;

  video {
    z-index: 3;
    position: relative;
  }
}

.fancybox-toolbar {
  right: 44px;
}

.fancybox-slide {
  padding: 0 !important;
}

.fancybox-button.fancybox-button--close {
  background-color: $color-7;
  height: 31px;
  width: 31px;
  top: 50px;
  right: 10px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 99;

  svg {
    margin: 0 auto;
    width: 20px;
    height: 40px;

    path {
      fill: $color-2;
    }
  }
}
