@mixin absolute-el() {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@mixin bg-el() {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin link-el($color, $hover) {
  display: inline-block;
  position: relative;
  color: $color;
  text-decoration: none;
  transition: $transition-linear;

  &::after {
    content: '';
    width: 0;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: -2px;
    background-color: $hover;
    transition: $transition-linear;
  }

  &:hover {
    color: $hover;

    &::after {
      width: 100%;
    }
  }
}

@mixin square-el($color) {
  margin-bottom: 20px;
  padding-left: 21px;
  position: relative;
  color: $color-11;
  letter-spacing: 1px;

  &::before {
    content: '';
    width: 11px;
    height: 11px;
    display: inline-block;
    background-color: $color;
    position: absolute;
    left: 0;
    top: 6px;
  }
}

@mixin secondary-btn($color: $color-11) {
  font-family: $f-base;
  font-weight: 900;
  font-size: rem(11);
  line-height: rem(16);
  letter-spacing: 0.88px;
  color: $color;
  text-transform: uppercase;

  @media (min-width: $bp-2XL) {
    font-size: rem(16);
    line-height: rem(20);
    letter-spacing: 1.28px;
  }
}

@mixin btn-arrow($color, $hover, $bg-col : transparent) {
  @include secondary-btn($color);

  padding: 10px 37px 10px 12px;
  position: relative;
  display: inline-block;
  background-color: $bg-col;
  transition: $transition-ease;

  @media (min-width: $bp-M) {
    padding: 10px 41px 10px 15px;
  }

  &::before {
    content: '';
    width: calc(100% - 37px);
    max-width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $hover;
    transition: $transition-ease;
  }

  &::after {
    content: '';
    background-color: $color;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    margin: auto;
    mask: url('../images/arrow.svg') 0 0/16px 12px;
    mask-repeat: no-repeat;
    width: 16px;
    height: 12px;
    transition: $transition-ease;

    @media (min-width: $bp-M) {
      right: 14px;
    }
  }

  &:hover {
    color: $hover;

    &::before {
      max-width: 100%;
    }

    &::after {
      background-color: $hover;
    }
  }
}
