body {
  font-family: $f-base;
  font-weight: 400;
  font-size: rem(15);
  line-height: rem(25);
  letter-spacing: 0.15px;
  color: $color-3;

  strong {
    font-weight: 700;
    line-height: rem(26);
  }
}

h1 {
  font-family: $f-medium;
  font-weight: normal;
  font-size: rem(32);
  line-height: rem(36);

  @media (min-width: $bp-L) {
    font-family: $f-base;
    font-weight: 400;
    font-size: rem(65);
    line-height: rem(72);
    letter-spacing: -0.65px;
  }
}

h2 {
  font-family: $f-base;
  font-weight: 400;
  font-size: rem(28);
  line-height: rem(34);

  @media (min-width: $bp-L) {
    font-size: rem(48);
    line-height: rem(58);
    letter-spacing: 0.25px;
  }
}

h3 {
  font-family: $f-base;
  font-weight: 400;
  font-size: rem(24);
  line-height: rem(35);
  letter-spacing: 0.24px;

  @media (min-width: $bp-L) {
    font-size: rem(36);
    line-height: rem(42);
    letter-spacing: 0.36px;
  }

  &.light {
    font-weight: 300;
    line-height: rem(32);

    @media (min-width: $bp-L) {
      line-height: rem(42);
    }
  }
}

h4 {
  font-family: $f-base;
  font-weight: 400;
  font-size: rem(18);
  line-height: rem(24);
  letter-spacing: 0.25px;

  @media (min-width: $bp-L) {
    font-size: rem(22);
    line-height: rem(34);
    letter-spacing: 0.55px;
  }
}

h5 {
  font-family: $f-base;
  font-weight: 700;
  font-size: 0.71875rem; //11.5px
  line-height: rem(24);
  letter-spacing: 0.25px;

  @media (min-width: $bp-L) {
    font-size: rem(16);
    line-height: rem(26);
    letter-spacing: 1.28px;
  }
}

/* stylelint-disable */

ul {
  list-style: none;

  li {
    &::before {
      content: '';
      display: inline-block;
      width: 11px;
      height: 11px;
      position: absolute;
      top: 12px;
      left: 0;
      background-color: $color-6;

      @media (min-width: $bp-L) {
        top: 22px;
      }
    }
  }
}

ol {
  counter-reset: numb-counter;
  list-style: none;

  li {
    counter-increment: numb-counter;

    &::before {
      content: counter(numb-counter);
      font-size: rem(28);
      position: absolute;
      left: -4px;
      top: 0;
      font-weight: 400;
      text-align: left;

      @media (min-width: $bp-L) {
        font-size: rem(48);
        left: -8px;
        top: 9px;
      }
    }
  }
}

ul,
ol {

  li {
    margin-bottom: 30px;
    padding-left: 29px;
    position: relative;
    font-family: $f-base;
    font-weight: 300;
    font-size: rem(24);
    line-height: rem(32);
    letter-spacing: 0.24px;
    color: $color-6;

    @media (min-width: $bp-L) {
      margin-bottom: 50px;
      padding-left: 103px;
      font-size: rem(36);
      line-height: rem(42);
      letter-spacing: 0.36px;
    }
  }
}

/* stylelint-enable */

.entry-content {
  overflow: hidden;

  & > p,
  & > ul,
  & > ol,
  & > pre,
  & > blockquote,
  & > .wp-block-file,
  & > .wp-block-button,
  & > .wp-block-table,
  & > .wp-block-pullquote,
  & > .wp-block-columns,
  & > .wp-block-media-text,
  & > .wp-block-calendar,
  & > .wp-block-embed,
  & > form,
  & > iframe,
  & > h1,
  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6 {
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: $c-width;
  }

  .aligncenter {
    text-align: center;
  }

  .alignleft--img,
  .alignleft {
    float: left;
  }

  .alignright--img,
  .alignright {
    float: right;
  }

  img.alignleft,
  .alignleft--img,
  .wp-caption.alignleft {
    max-width: 50%;
    height: auto;
    margin: 10px 25px 25px 0;

    @media (max-width: $bp-M) {
      max-width: 100%;
      display: block;
      float: none;
      margin: 0 auto 30px;
    }
  }

  img.alignright,
  .alignright--img,
  .wp-caption.alignright {
    max-width: 50%;
    height: auto;
    margin: 0 0 25px 25px;

    @media (max-width: $bp-M) {
      max-width: 100%;
      display: block;
      float: none;
      margin: 0 auto 30px;
    }
  }

  img.aligncenter,
  .wp-caption.aligncenter {
    display: block;
    margin: 0 auto 10px;
  }

  .wp-caption {
    margin: 10px 0;
    padding: 4px 0 0;
    text-align: center;

    .wp-caption-text {
      padding: 0 4px 5px;
      font-size: rem(16);
      font-family: $f-base;
      line-height: 1.125;
    }
  }

  .wp-block-spacer {
    @media (max-width: $bp-M) {
      height: 30px !important;
    }
  }

  .wp-block-calendar {
    a {
      @include link-el();
    }
  }

  blockquote {
    text-align: center;

    p {
      font-weight: 400;
      font-size: rem(18);
      line-height: rem(24);
      letter-spacing: 0.25px;

      @media (min-width: $bp-L) {
        font-size: rem(22);
        line-height: rem(34);
        letter-spacing: 0.55px;
      }
    }

    cite {
      font-weight: 400;
      font-size: 0.71875rem; //11.5px
      line-height: rem(24);
      letter-spacing: 0.25px;

      @media (min-width: $bp-L) {
        font-size: rem(16);
        line-height: rem(26);
        letter-spacing: 1.28px;
      }
    }
  }
}
