@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

//Responsive
$bp-MS:  375px;
$bp-S:   425px;
$bp-SM:  550px;
$bp-M:   768px;
$bp-ML:  834px;
$bp-L:   992px;
$bp-XL:  1200px;
$bp-2XL: 1366px;
$bp-3XL: 1440px;
$bp-4XL: 1600px;
$bp-5XL: 1920px;

//Colors
$color-1:   #000;
$color-2:   #fff;
$color-3:   #636363;
$color-4:   #9d9fa2;
$color-5:   #ebebeb;
$color-6:   #0066a4;
$color-7:   #1589d4;
$color-8:   #86cffe;
$color-9:   #40b2f3;
$color-10:  #408cbb;
$color-11:  #0099ef;
$color-12:  #ff7676;
$color-13:  #252525;
$color-14:  #1589d4;
$color-15:  #004e7d;
$color-16:  #ecf6fc;

//Font Size
$font-size: 16px;

//Fonts
$f-base:   "Lato", sans-serif; //Lato 100, 300, 400, 700, 900
$f-medium: "Lato Medium", sans-serif; //Lato 500
$f-semi:   "Lato Semibold", sans-serif; //Lato 600

//Container
$c-width: 934px; // + 30px paddings

//Transition
$transition-linear: all 0.3s linear;
$transition-ease: all 0.3s ease-in-out;
