.blog-posts {
  &__container {
    max-width: 1265px;
    padding: 15px 15px;
    margin: 15px auto;
  }

  &__block {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      background: $color-5;
      top: -15px;
      left: 0;
    }

    .post-block {
      .post-content {
        .post-info {
          &__category {
            font-weight: 500;
            font-size: rem(11);
            line-height: rem(23);
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: $color-11;
            background: $color-17;
            display: inline-block;
            padding: 4px 10px;
            margin-bottom: 5px;
            font-family: $f-stevie-sans;
          }

          .post-date {
            font-size: 11px;
            line-height: 23px;
            color: $color-4;
            letter-spacing: 0.02em;
            margin-bottom: 14px;
            font-family: $f-aileron;
          }
        }

        &__title {
          font-size: 20px;
          line-height: 26px;
          color: $color-6;
          letter-spacing: 0.25px;
          margin-bottom: 21px;
        }
      }

      .post-image {
        margin-bottom: 16px;
      }

      .read-more {
        font-weight: 900;
        font-size: rem(16);
        line-height: rem(20);
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: $color-11;
        position: relative;
        margin-bottom: 30px;
        display: inline-block;

        &::after {
          position: absolute;
          content: '';
          width: 15px;
          height: 12px;
          background: url("../../images/arrow.svg");
          right: -26px;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      &:not(:first-of-type) {
        .post-info__category {
          margin-bottom: 8px;
        }

        .post-date {
          margin-bottom: 11px;
        }

        .post-image {
          display: none;
        }
      }
    }
  }
}
