.blog,
.post,
.category {
  #breadcrumbs {
    padding: 7px 15px;

    @media (min-width: $bp-M) {
      padding: 17px 30px;
    }
  }

  .content-title {
    padding: 0 11px;
    color: $color-6;

    @media (min-width: $bp-M) {
      padding: 0 30px 4px;
    }

    @media (min-width: $bp-2XL) {
      padding: 0 30px 29px;
    }
  }

  .blog-prefix {
    display: none;
    color: $color-11;

    @media (min-width: $bp-M) {
      display: block;
      padding: 16px 30px 0;

      li {
        color: $color-11;
        font-weight: bold;
        font-size: rem(11.5);
        line-height: rem(16);
        letter-spacing: 0.08em;
        text-transform: uppercase;
        padding-left: 21px;
        margin-bottom: 28px;

        &::before {
          background-color: $color-11;
          top: 1px;
        }
      }
    }
  }

  .posts-search {
    width: 65px;
    height: 50px;
    position: relative;
    background-image: url("../../images/search-blue.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-left: 1px solid $color-2;
    transition: $transition-ease;

    @media (min-width: $bp-L) {
      &:hover {
        opacity: 0.8;
      }
    }
  }

  .blog-posts {
    background: $color-15;
    margin-top: 24px;

    @media (min-width: $bp-M) {
      display: flex;
    }

    .categories-title {
      padding: 17px 15px 0;
      text-transform: uppercase;
      color: $color-6;
      font-weight: bold;
      font-size: rem(11.5);
      line-height: rem(16);
      letter-spacing: 0.08em;
      margin-bottom: 7px;

      @media (min-width: $bp-M) {
        padding: 17px 25px 0 30px;
        display: inline-block;
      }

      @media (min-width: $bp-2XL) {
        padding: 13px 25px 0 30px;
        font-size: rem(16);
        line-height: rem(26);
      }
    }

    .select-blog {
      width: 100%;
      padding: 0 15px 16px;
      color: $color-11;

      @media (min-width: $bp-M) {
        padding: 12px 0;
        display: inline-block;
      }

      @media (min-width: $bp-2XL) {
        padding: 10px 0;
      }

      .blog-select {
        width: 100%;
        color: $color-11;
        background: $color-2;
        border: none;
        font-weight: bold;
        border-radius: 0;
        font-size: rem(11.5);
        line-height: rem(16);
        letter-spacing: 0.08em;
        text-transform: uppercase;
        padding: 5px 10px;
        appearance: none;
        background-image: url('../../images/arrow-down.svg');
        background-repeat: no-repeat;
        background-position: 97%;

        @media (min-width: $bp-S) {
          width: auto;
          padding: 5px 30px 5px 10px;
        }

        @media (min-width: $bp-2XL) {
          padding: 0 30px 5px 12px;
          margin-left: 21px;
          font-size: rem(16);
          line-height: rem(26);
        }

        option {
          font-size: rem(11.5);
          line-height: rem(16);
          letter-spacing: 0.08em;
        }
      }
    }

    &__container {
      max-width: 831px;
      padding: 15px 15px;
      margin: 15px auto;

      @media (min-width: $bp-M) {
        padding: 40px 30px;
        margin: 33px auto;
      }

      @media (min-width: $bp-2XL) {
        max-width: 1144px;
        padding: 43px 30px;
      }

      @media (min-width: $bp-5XL) {
        max-width: 1295px;
      }
    }

    &__block {
      position: relative;

      @media (min-width: $bp-L) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      @media (min-width: $bp-2XL) {
        padding-top: 18px;
      }

      &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        background: $color-5;
        top: -15px;
        left: 0;
      }

      .post-block {
        @media (min-width: $bp-M) {
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
          padding-bottom: 16px;
        }

        @media (min-width: $bp-2XL) {
          padding-bottom: 20px;
        }

        .post-content {
          @media (min-width: $bp-M) {
            flex-basis: 48.5%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
          }

          .post-info {
            @media (min-width: $bp-M) {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;
            }

            &__category {
              font-weight: 500;
              font-size: rem(11.5);
              line-height: rem(23);
              letter-spacing: 0.05em;
              text-transform: uppercase;
              color: $color-11;
              background: $color-15;
              display: inline-block;
              padding: 4px 10px;
              margin-bottom: 5px;
              font-family: $f-stevie-sans;

              @media (min-width: $bp-M) {
                margin-top: -5px;
              }

              @media (min-width: $bp-2XL) {
                font-size: rem(16);
                line-height: rem(26);
              }
            }

            .post-date {
              font-size: rem(11);
              line-height: rem(23);
              color: $color-4;
              letter-spacing: 0.02em;
              margin-bottom: 14px;
              font-family: $f-aileron;

              @media (min-width: $bp-M) {
                margin-top: 2px;
              }

              @media (min-width: $bp-2XL) {
                font-size: rem(13);
                line-height: rem(22);
              }
            }
          }

          &__title {
            font-size: 20px;
            line-height: 26px;
            color: $color-6;
            letter-spacing: 0.25px;
            margin-bottom: 21px;

            @media (min-width: $bp-M) {
              font-size: rem(28);
              line-height: rem(34);
              letter-spacing: -0.01em;
              margin-top: 19px;
            }

            @media (min-width: $bp-2XL) {
              font-size: rem(48);
              line-height: rem(58);
              margin-top: 12px;
              letter-spacing: 0.25px;
            }
          }

          .read-more-d {
            display: none;

            @media (min-width: $bp-M) {
              font-weight: 900;
              line-height: rem(20);
              letter-spacing: 0.08em;
              text-transform: uppercase;
              color: $color-11;
              position: relative;
              display: inline-block;
              font-size: rem(11);
              margin-top: auto;
              margin-bottom: 11px;
              transition: $transition-ease;
              padding-bottom: 5px;

              @media (min-width: $bp-L) {
                border-bottom: 2px solid transparent;

                &:hover {
                  border-bottom: 2px solid $color-11;
                }
              }

              @media (min-width: $bp-2XL) {
                font-size: rem(16);
                line-height: rem(20);
                letter-spacing: 1.25px;
              }

              &::after {
                position: absolute;
                content: '';
                width: 15px;
                height: 12px;
                background: url("../../images/arrow.svg");
                right: -26px;
                top: 50%;
                transform: translateY(-72%);
              }
            }
          }
        }

        .post-image {
          margin-bottom: 16px;
          display: flex;
          align-items: center;
          justify-content: center;

          @media (min-width: $bp-M) {
            flex-basis: 48.3%;
          }
        }

        .read-more {
          font-weight: 900;
          font-size: rem(16);
          line-height: rem(20);
          letter-spacing: 0.08em;
          text-transform: uppercase;
          color: $color-11;
          position: relative;
          margin-bottom: 30px;
          display: inline-block;

          @media (min-width: $bp-M) {
            display: none;
          }

          &::after {
            position: absolute;
            content: '';
            width: 15px;
            height: 12px;
            background: url("../../images/arrow.svg");
            right: -26px;
            top: 50%;
            transform: translateY(-50%);
          }
        }

        &:not(:first-of-type) {
          border-top: 1px solid $color-15;
          margin-bottom: 44px;

          @media (min-width: $bp-M) {
            padding: 0;
            margin-bottom: 0;
          }

          @media (min-width: $bp-L) {
            flex-basis: 48.5%;
          }

          .post-content {
            flex-basis: 100%;
            padding: 26px 0;

            @media (min-width: $bp-M) {
              padding: 26px 0 12px;
            }

            @media (min-width: $bp-2XL) {
              padding: 32px 0 12px;
            }
          }

          .post-info__category {
            margin-bottom: 8px;
            font-size: rem(11.5);
            letter-spacing: 0.11em;

            @media (min-width: $bp-2XL) {
              font-size: rem(16);
              line-height: rem(26);
            }
          }

          .post-content__title {
            margin-top: -3px;
            line-height: 24px;
            margin-bottom: 8px;

            @media (min-width: $bp-M) {
              font-size: rem(24);
              line-height: rem(35);
              letter-spacing: -0.01em;
              margin-top: 15px;
              margin-bottom: 11px;
            }

            @media (min-width: $bp-2XL) {
              font-size: rem(36);
              line-height: rem(42);
              letter-spacing: 0.01em;
              margin-bottom: 28px;
            }
          }

          .post-date {
            margin-bottom: 8px;

            @media (min-width: $bp-2XL) {
              font-size: rem(13);
              line-height: rem(22);
            }
          }

          .post-image {
            display: none;
          }

          .read-more {
            font-size: rem(11);
            margin-top: -10px;
            margin-bottom: 9px;
          }

          .read-more-d {
            @media (min-width: $bp-2XL) {
              margin-bottom: 13px;
            }
          }
        }

        &:nth-last-of-type(2),
        &:nth-last-of-type(1) {
          border-bottom: 1px solid $color-15;
        }
      }
    }
  }

  .load-more {
    display: flex;
    justify-content: center;
    align-items: center;

    #load-post {
      border: 1px solid $color-11;
      background: transparent;
      text-transform: uppercase;
      color: $color-11;
      font-family: $f-stevie-sans;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: rem(28);
      letter-spacing: 0.05em;
      padding: 10px 32px;
      margin-top: 19px;
      margin-bottom: 21px;
      transition: $transition-ease;

      @media (min-width: $bp-M) {
        padding: 4px 30px;
        margin-top: 38px;
        margin-bottom: -20px;
      }

      @media (min-width: $bp-L) {
        &:hover {
          color: $color-2;
          background: $color-11;
        }
      }

      @media (min-width: $bp-2XL) {
        padding: 9px 35px;
        margin-top: 38px;
        margin-bottom: -38px;
      }
    }
  }
}

.post {
  #breadcrumbs {
    padding-left: 0;
    padding-right: 0;
  }

  &-header {
    padding: 7px 0 12px;
    background-color: $color-15;

    @media (min-width: $bp-M) {
      padding-top: 5px;
      padding-bottom: 19px;
    }

    @media (min-width: $bp-L) {
      padding-bottom: 28px;
    }

    @media (min-width: $bp-2XL) {
      padding-bottom: 44px;
    }

    @media (min-width: $bp-5XL) {
      min-height: 380px;
      display: flex;
    }

    &__container {
      margin: 0 auto;
      padding: 0 15px;
      width: 100%;
      max-width: 1910px;

      @media (min-width: $bp-M) {
        padding-left: 30px;
        padding-right: 30px;
      }

      @media (min-width: $bp-5XL) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }

    &__bottom {
      display: flex;

      p,
      span,
      a {
        margin-bottom: 0;
        font-family: $f-base;
        font-weight: 400;
        font-size: 0.71875rem;
        line-height: rem(22);
        letter-spacing: 0.7px;

        @media (min-width: $bp-2XL) {
          font-size: rem(13);
        }
      }

      p,
      span {
        color: $color-4;
      }

      a {
        color: $color-11;
      }
    }

    h1 {
      margin-bottom: 39px;
      color: $color-6;

      @media (min-width: $bp-M) {
        margin-bottom: 11px;
      }

      @media (min-width: $bp-L) {
        margin-bottom: 37px;
      }

      @media (min-width: $bp-2XL) {
        margin-bottom: 46px;
      }
    }
  }

  &-category {
    margin-bottom: 28px;
    margin-top: 19px;
    padding: 0 10px;
    font-family: $f-base;
    font-weight: 700;
    font-size: 0.71875rem;
    line-height: rem(23);
    letter-spacing: 0.9px;
    text-transform: uppercase;
    color: $color-11;
    background-color: $color-2;
    display: inline-block;

    @media (min-width: $bp-M) {
      margin-top: 8px;
      letter-spacing: 1.2px;
      margin-bottom: 35px;
    }

    @media (min-width: $bp-2XL) {
      padding-top: 3px;
      padding-bottom: 3px;
      margin-bottom: 27px;
      font-size: rem(16);
      line-height: rem(26);
    }
  }

  &-main {
    margin: 0 auto;
    padding: 25px 15px;
    max-width: 832px;

    @media (min-width: $bp-M) {
      padding: 35px 30px 38px;
    }

    @media (min-width: $bp-L) {
      padding-top: 42px;
    }

    @media (min-width: $bp-2XL) {
      padding-top: 50px;
      padding-bottom: 50px;
      max-width: 920px;
    }

    @media (min-width: $bp-5XL) {
      padding-bottom: 110px;
      max-width: 974px;
    }

    h3 {
      color: $color-6;
    }

    h4 {
      margin-top: 40px;
      color: $color-6;
    }

    p {
      margin-bottom: 9px;

      a {
        @include link-el($color-11, $color-6);

        word-break: break-all;
      }

      &.darken {
        a {
          @include link-el($color-6, $color-11);

          word-break: break-all;
        }
      }
    }
  }
}
