.header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 9;

  @media (max-width: $bp-L - 1px) {
    max-height: 100vh;
    overflow-y: auto;
  }

  &__container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }

  &__top {
    padding: 13px 15px 12px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $color-5;
  }

  &__brand {
    max-width: 130px;
    height: auto;
  }

  &__nav {
    @media (max-width: $bp-L - 1px) {
      padding: 7px 15px;
      margin: 0 -15px;
      width: calc(100% + 30px);
      max-height: 100vh;
      background-color: $color-2;
      align-items: flex-start;
      overflow-y: auto;
    }
  }
}
