.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: $color-2;
  transition: $transition-ease;

  @media (max-width: $bp-L - 1px) {
    max-height: 100vh;
    overflow-y: auto;
  }

  &.move-up {
    transform: translateY(-100%);
  }

  &__container {
    margin: 0 auto;
    padding: 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @media (min-width: $bp-L) {
      padding-left: 30px;
    }

    &::after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: $color-5;
      position: absolute;
      left: 0;
      top: 49px;
    }
  }

  &__top {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  &__bottom {
    padding-top: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: none;
    background-color: $color-2;

    @media (min-width: $bp-L) {
      display: none;
    }
  }

  &__brand {
    margin-left: 15px;
    width: 100%;
    max-width: 130px;
    max-height: 27px;
    object-fit: contain;

    @media (min-width: $bp-L) {
      margin: 0;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &__nav {
    @media (max-width: $bp-L - 1px) {
      padding: 7px 15px;
      margin: 0 -15px;
      width: calc(100% + 30px);
      max-height: 100vh;
      background-color: $color-2;
      align-items: flex-start;
      overflow-y: auto;
    }

    &.nav-show {
      .header__bottom {
        display: block;

        @media (min-width: $bp-L) {
          display: none;
        }
      }
    }
  }

  &__btns {
    display: grid;
    grid-template-columns: 50px 50px;
    justify-content: center;
    align-items: center;

    @media (min-width: $bp-L) {
      display: flex;
    }
  }

  &__search {
    border-left: 1px solid $color-5;
  }

  &__link {
    padding: 12px 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: $f-base;
    font-weight: 400;
    font-size: rem(14);
    line-height: rem(22);
    letter-spacing: 0.25px;
    color: $color-6;
    background-color: $color-15;
  }
}

body {
  &.logged-in.admin-bar {
    .header {
      @media (min-width: 601px) {
        top: 46px;
      }

      @media (min-width: 783px) {
        top: 32px;
      }
    }
  }
}
