.hero-product-section,
.tabs {
  &-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    width: 100%;
  }

  &-tabs-nav,
  &-nav {
    display: flex;
    justify-content: flex-start;
    order: 1;
    flex-basis: 100%;
    max-width: 100%;
    width: 100%;
    min-height: 50px;
    background-color: $color-2;
    border-top: 1px solid $color-15;
    border-bottom: 1px solid $color-15;

    @media (min-width: $bp-2XL) {
      min-height: 59px;
    }

    &__title {
      display: none;
      height: 100%;
      font-family: $f-base;
      font-size: rem(11.5);
      font-weight: 700;
      text-transform: uppercase;
      justify-content: center;
      color: $color-3;
      padding: 12px 15px 15px;
      border-right: 1px solid $color-15;

      @media (min-width: $bp-M) {
        max-width: 196px;
        width: 100%;
        color: $color-6;
      }

      @media (min-width: $bp-L) {
        display: flex;
        align-items: center;
        color: $color-3;
        padding: 12px 15px 15px 0;
      }

      @media (min-width: $bp-2XL) {
        font-size: rem(16);
        line-height: rem(26);
        letter-spacing: 0.08em;
        max-width: 286px;
        padding: 17px 15px 15px 0;
      }

      @media (min-width: $bp-5XL) {
        max-width: 267px;
        padding: 17px 15px 15px 4px;
      }

      &_mob {
        display: flex;
        align-items: center;

        @media (min-width: $bp-L) {
          display: none;
        }
      }
    }

    &__item {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: $f-base;
      font-size: rem(11.5);
      font-weight: 700;
      color: $color-6;
      text-transform: uppercase;
      padding: 11px 8px 14px;
      width: 100%;

      @media (min-width: $bp-M) {
        padding: 10px 8px 14px;
      }

      @media (min-width: $bp-L) {
        justify-content: flex-start;
        padding-left: 26px;
        font-size: rem(18);
        line-height: rem(24);
        letter-spacing: 0.25px;
        text-transform: none;
        font-weight: 400;
      }

      @media (min-width: $bp-2XL) {
        font-size: rem(22);
        line-height: rem(34);
        letter-spacing: 0.025em;
        padding: 13px 8px 10px 24px;
      }

      @media (min-width: $bp-5XL) {
        padding-left: 50px;
      }

      &.active {
        cursor: default;
        pointer-events: none;
        background-color: $color-15;

        &::after {
          position: absolute;
          content: "";
          left: 0;
          right: 0;
          max-width: 100%;
          width: 100%;
          bottom: 0;
          height: 2px;
          background-color: $color-6;

          @media (min-width: $bp-L) {
            bottom: -2px;
          }
        }
      }
    }

    &-scroll {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 100%;
      width: 100%;
      overflow-x: hidden;
      overflow-y: hidden;

      @media (min-width: $bp-L) {
        overflow: visible;
      }
    }

    @media (min-width: $bp-L) {
      order: 1;
    }
  }

  &-hero {
    order: 2;
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    max-width: 100%;
    width: 100%;

    @media (min-width: $bp-L) {
      order: 2;
      flex-wrap: nowrap;
    }

    &__column {
      flex-basis: 100%;
      max-width: 100%;
      position: relative;

      &:first-child {
        padding: 54px 15px 38px 15px;

        @media (min-width: $bp-M) {
          padding-left: 30px;
          padding-right: 30px;
          padding-top: 63px;
        }

        @media (min-width: $bp-L) {
          flex-basis: 51.5%;
          padding: 64px 30px 30px 30px;
        }

        @media (min-width: $bp-2XL) {
          flex-basis: 51.1%;
          padding: 87px 30px 30px 30px;
        }

        @media (min-width: $bp-5XL) {
          padding: 212px 187px 66px 177px;
          flex-basis: 50.78%;
        }
      }

      &:last-child {
        @media (min-width: $bp-L) {
          flex-basis: 48.5%;
          max-width: 48.5%;
        }

        @media (min-width: $bp-2XL) {
          flex-basis: 48.9%;
          max-width: 48.9%;
        }

        @media (min-width: $bp-5XL) {
          flex-basis: 49.22%;
          max-width: 49.22%;
        }
      }
    }

    &__logo {
      height: 30px;
      margin-bottom: 10px;

      @media (min-width: $bp-M) {
        height: 33px;
        margin-bottom: 12px;
      }

      @media (min-width: $bp-2XL) {
        height: 75px;
        margin-bottom: 25px;
      }
    }

    &__content {
      font-size: rem(18);
      color: $color-3;
      margin-bottom: 0;

      @media (min-width: $bp-2XL) {
        font-size: rem(22);
        line-height: rem(34);
        letter-spacing: 0.025em;
      }
    }

    &-video {
      position: relative;
      max-width: 100%;
      width: 100%;
      height: 220px;

      @media (min-width: $bp-M) {
        height: 525px;
      }

      @media (min-width: $bp-2XL) {
        height: 457px;
      }

      @media (min-width: $bp-5XL) {
        height: 650px;
      }

      & > iframe {
        max-width: 100%;
        width: 100%;
        height: 100%;
      }

      &__preview {
        @include absolute-el;

        object-fit: cover;
        z-index: 3;
      }

      &__overlay {
        @include absolute-el;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 20px 15px;
        background-color: rgba($color-7, 0.6);
        z-index: 3;

        @media (min-width: $bp-M) {
          align-items: center;
          justify-content: center;
          background-color: rgba($color-14, 0.6);
        }
      }

      &__title {
        font-size: rem(24);
        color: $color-2;
        margin-bottom: 7px;

        @media (min-width: $bp-L) {
          font-size: rem(36);
        }

        @media (min-width: $bp-2XL) {
          margin-bottom: 17px;
          margin-top: 12px;
        }
      }

      &__play {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 120px;
        width: 100%;
        height: 36px;
        font-size: rem(11.5);
        line-height: 16px;
        font-weight: 700;
        background-color: transparent;
        border: 0;
        outline: 0;
        color: $color-2;
        text-transform: uppercase;
        padding: 0;

        @media (min-width: $bp-2XL) {
          font-size: rem(16);
          max-width: 142px;
        }

        &::after {
          content: "";
          background-image: url("../../images/play.svg");
          width: 36px;
          height: 36px;
        }
      }
    }

    .wp-video {
      max-width: 100%;
      width: 100% !important;
      height: 100% !important;

      .mejs-container {
        height: 100% !important;
      }

      .wp-video-shortcode {
        height: 100% !important;
      }
    }
  }

  &-tabs-content,
  &-content {
    order: 3;
    flex-basis: 100%;
    background-color: $color-2;
    padding: 25px 0;
    min-height: 348px;
    max-width: 100%;
    width: 100%;

    @media (min-width: $bp-M) {
      min-height: 440px;
      padding: 0;
    }

    @media (min-width: $bp-L) {
      min-height: 465px;
      height: auto;
    }

    &__item {
      display: block;
      padding: 53px 0 69px;
      height: 100%;
      background-color: $color-15;

      .hero-product-section-tabs-content__item-container,
      .tabs-content__item-container {
        display: -webkit-box;
        align-items: center;
        justify-content: center;
        max-width: 1220px;
        width: 100%;
        margin: auto;
        overflow-y: hidden;
        overflow-x: scroll;

        @media (min-width: $bp-L) {
          display: flex;
          flex-wrap: wrap;
          gap: 12%;
          overflow-x: hidden;
        }

        @media (min-width: $bp-2XL) {
          display: flex;
          flex-wrap: wrap;
          gap: 7%;
        }

        @media (min-width: $bp-5XL) {
          gap: 9%;
        }
      }

      @media (min-width: $bp-M) {
        padding: 120px 5px 108px;
      }

      @media (min-width: $bp-L) {
        overflow-x: hidden;
        padding: 149px 0 45px;
      }

      @media (min-width: $bp-2XL) {
        overflow-x: hidden;
        padding: 136px 0 35px;
      }

      @media (min-width: $bp-5XL) {
        overflow-x: hidden;
        padding: 164px 0 7px;
      }

      .hero-product-section-tab-content,
      .tabs-tab-content {
        max-width: 135px;
        width: 100%;
        margin-right: 53px;
        margin-left: 17px;

        @media (min-width: $bp-M) {
          margin-right: 55px;
          margin-left: 55px;
        }

        @media (min-width: $bp-L) {
          flex-basis: 16%;
          margin-bottom: 110px;
          margin-right: 12px;
          margin-left: 12px;
          max-width: 160px;
        }

        @media (min-width: $bp-2XL) {
          max-width: 180px;
        }

        &__icon {
          display: flex;
          justify-content: center;
          align-items: center;
          max-width: 100%;
          width: 100%;
          height: 135px;
          background-color: $color-2;
          border-radius: 100%;
          margin-bottom: 19px;

          @media (min-width: $bp-M) {
            margin-bottom: 35px;
          }

          @media (min-width: $bp-L) {
            height: 160px;
          }

          @media (min-width: $bp-2XL) {
            max-width: 135px;
            height: 135px;
            margin: 0 auto 45px;
          }
        }

        &__title {
          font-family: $f-base;
          font-size: rem(18);
          font-weight: 400;
          color: $color-6;
          text-transform: capitalize;
          text-align: center;

          @media (min-width: $bp-2XL) {
            font-size: rem(22);
            line-height: rem(34);
            letter-spacing: 0.025em;
          }
        }
      }
    }
  }
}

.tabs {
  &-content {
    padding: 40px 15px 70px;

    @media (min-width: $bp-M) {
      padding: 30px;
    }

    @media (min-width: $bp-L) {
      padding-top: 88px;
      padding-bottom: 80px;
    }

    @media (min-width: $bp-2XL) {
      padding-top: 100px;
      padding-bottom: 130px;
    }

    &.white {
      background-color: $color-2;
    }

    &.light {
      background-color: $color-15;
    }
  }

  &-nav {
    &-scroll {
      overflow-x: auto;
    }

    &__item {
      padding-left: 17px;
      padding-right: 17px;
      min-width: auto;
      letter-spacing: 1px;

      @media (min-width: $bp-L) {
        padding: 10px 8px 16px;
        justify-content: center;
        letter-spacing: 0;
      }

      &.half {
        width: 50%;
      }

      &.active {
        &::after {
          bottom: 1px;

          @media (min-width: $bp-2XL) {
            bottom: 2px;
          }
        }
      }
    }
  }

  .tab {
    &-item {
      display: none;
      padding: 0;
      background-color: transparent;

      &-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @media (min-width: $bp-L) {
          display: grid;
          grid-template-columns: calc(50% - 64px) auto;
        }

        @media (min-width: $bp-2XL) {
          grid-template-columns: 50% 50%;
        }
      }

      &.active {
        display: block;
      }
    }

    &-content {
      margin: 0 0 50px;
      max-width: 100%;

      @media (min-width: $bp-M) {
        margin-bottom: 25px;
        padding-right: 78px;
        display: grid;
        grid-template-columns: 128px auto;
        grid-column-gap: 58px;
        align-items: center;
      }

      @media (min-width: $bp-L) {
        grid-column-gap: 32px;
      }

      @media (min-width: $bp-2XL) {
        margin-bottom: 60px;
        padding-right: 115px;
        grid-column-gap: 43px;
      }

      @media (min-width: $bp-5XL) {
        margin-bottom: 100px;
        padding-left: 14px;
        padding-right: 150px;
        grid-column-gap: 35px;
        align-items: center;
      }

      @media (min-width: 2400px) {
        margin-bottom: 90px;
        padding-right: 0;
        max-width: 800px;
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      &__img {
        margin-bottom: 23px;
        width: 128px;
        height: 128px;

        @media (min-width: $bp-M) {
          margin-bottom: 0;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  h2,
  h3 {
    color: $color-6;
  }

  h2 {
    margin-bottom: 45px;

    @media (min-width: $bp-L) {
      padding-right: 70px;
      justify-content: center;
      text-align: center;
      letter-spacing: -0.3px;
    }

    @media (min-width: $bp-2XL) {
      padding-left: 113px;
      padding-right: 0;
      justify-content: flex-start;
      text-align: left;
    }

    @media (min-width: 2400px) {
      padding-left: 0;
      padding-right: 90px;
      text-align: center;
    }
  }

  h3 {
    margin-bottom: 17px;

    @media (min-width: $bp-M) {
      margin-bottom: 8px;
    }

    @media (min-width: $bp-5XL) {
      margin-bottom: 23px;
    }
  }

  p {
    margin-bottom: 0;
  }
}
